.post {
  margin: 1rem;
  padding: 1rem;
  background-color: #525055;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 100px;
  text-align: center;
  color: white;
}

.post h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 2rem;
}

.post h3 {
  color: #ffff;
  margin-bottom: 1rem;
  font-size: 1rem;
}
