body {
  margin: 0;
  background-color: #272727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  color: rgb(240, 240, 247);
  font-size: 5rem;
}

